section#building.building
    img.building_image(src='./img/new-building-background.png', alt=locale.newBuildingOfferings)
    .container-fluid
        .row
            .col-xs-12.col-md-8.col-md-offset-4
                .building_content
                    h2.building_title=locale.newBuildingTitle
                    .building_offering
                       .building_offering-title=locale.newBuildingOfferings
                       .building_offering-card=common.cardNumber
                       .building_offering-bank=common.monobank
